<div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{isActivation?'Activando':'Inhabilitando'}} Usuario</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="cancelar()">
      <!-- <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')"> -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Esta Seguro de {{isActivation?'activar':'deshabilitar'}} este Usuario ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancel</button>
    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button> -->
    <button type="button" class="btn btn-primary" (click)="cambiarEstado()">Ok</button>
  </div>
