<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand " href="#">Minijobs</a>
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse"
			class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>

		</button>
	</div>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">


		<ul class="nav navbar-nav navbar-right ml-auto">
			<li class="nav-item">

				<a routerLink="/admin" *ngIf="isAuth" data-toggle="dropdown"
					class="text-white btn bg-primary  get-started-btn  mt-1 mb-1 ">Consola de Administracion</a>

			</li>
			<li class="nav-item">
				<a routerLink="/auth/login" *ngIf="!isAuth" data-toggle="dropdown" class=" btn  get-started-btn  mt-1 mb-1 ">Inicia
					Sesion</a>

			</li>
			<li class="nav-item">
				<a routerLink="/auth/register" *ngIf="!isAuth" data-toggle="dropdown"
					class="btn  get-started-btn mt-1 mb-1">Registrate!</a>
			</li>
			<li class="nav-item">
				<a (click)="logout()" *ngIf="isAuth" data-toggle="dropdown"
					class="btn  get-started-btn mt-1 mb-1">Cerrar Sesion!</a>

			</li>
		</ul>
	</div>
</nav>