.modal-header {
	padding: 25px 10px 0 40px;
}
.modal-header h4 {
	font-size: 2.1rem;
}
.modal-body {
	padding: 0 25px;
}
ul.detalles-postulante {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 0;
}
ul.detalles-postulante li {
	display: block;
	font-size: 1.8rem;
	margin: 5px 0;
}
ul.detalles-postulante li span {
	width: 80px;
	font-size: 1.5rem;
	display: inline-block;
	color: dimgrey;
}

.star {
	position: relative;
	display: inline-block;
	font-size: 3rem;
	color: #d3d3d3;
}
.full {
	color: #ff9800;
}
.half {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	color: red;
}

/* ======= COPIA DE DETALLES USUARIOS */
.rating-container {
	font-family: Arial;
	margin: 0 auto; /* Center website */
	max-width: 450px; /* Max width */
	padding: 20px;
}
.heading-rating {
	font-size: 25px;
	margin-right: 25px;
}
.resumen {
	font-size: 16px;
}
.resumen .calificacion {
	font-size: 20px;
}

.fa {
	font-size: 25px;
}

.checked {
	color: orange;
}

/* Three column layout */
.side {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.middle {
	margin-top: 10px;
	float: left;
	width: 70%;
}

/* Place text to the right */
.right {
	text-align: right;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
