<aside id="sidebar">
    <header>
      <a href="#">MiniJobs</a>
    </header>
    <ul class="nav">
      <li>
        <a routerLink="/admin/usuarios">
          <img class="icon" src="assets/img/usuario.svg" alt=""> Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/admin/trabajos"  >
          <img class="icon" src="assets/img/trabajador.svg" alt=""> Trabajos
        </a>
      </li>
      
    
      
      <li (click)="logout()" class="bg-danger center btn-logout">
        <a >
          Cerrar Session
        </a>
      </li> 
    </ul>
</aside>