<div class="modal-header">
    <h4 class="modal-title">{{titulo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"> -->
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body ">
    <!-- ==========================================
        ========================================== -->
    <div class="rating-container">
        <!-- -- -->
        <h2 class="heading-rating">Calificacion SocioJob</h2>


        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#10030;</span>&#10030;
            </span>
        </ng-template>

        <ngb-rating [(rate)]="promedioCalificacionSocioJob" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        <span> &nbsp; &nbsp; &nbsp; </span>

        <span class="resumen"><span class="calificacion">{{promedioCalificacionSocioJob | number : '1.1-1'}} </span>
            estrellas de
            {{calificacionesSocioJob.length}} voto(s)</span>
        <!-- <div class="row">
            <div class="side">
                <div>5 star</div>
            </div>
            <div class="middle">
                <p><ngb-progressbar type="warning" [value]="25">25</ngb-progressbar></p>
            </div>
            <div class="side right">
                <div>150</div>
            </div>
            <div class="side">
                <div>4 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-4"></div>
                </div>
            </div>
            <div class="side right">
                <div>63</div>
            </div>
            <div class="side">
                <div>3 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-3"></div>
                </div>
            </div>
            <div class="side right">
                <div>15</div>
            </div>
            <div class="side">
                <div>2 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="side right">
                <div>6</div>
            </div>
            <div class="side">
                <div>1 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-1"></div>
                </div>
            </div>
            <div class="side right">
                <div>20</div>
            </div>
        </div> -->
        <!-- --- -->
        <hr style="border:3px solid #f1f1f1">
        <h2 class="heading-rating">Calificacion MultiJob</h2>


        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#10030;</span>&#10030;
            </span>
        </ng-template>

        <ngb-rating [(rate)]="promedioCalificacionMutiJob" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        <span> &nbsp; &nbsp; &nbsp; </span>

        <span class="resumen"><span class="calificacion">{{promedioCalificacionMutiJob | number : '1.1-1'}} </span> estrellas de
            {{calificacionesMutiJob.length}} voto(s)</span>

    </div>
    <!-- ==========================================
========================================== -->
</div>
<div class="modal-footer">
</div>